.tagname{
    height: 25px;
    width: auto;
    border-radius: 10px;
    background: #FF6060;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 5px;
}

.tagname p{
    color: white;
    font-size: 14px;
    line-height: 142.6%;
    padding: 10px;
}

